body {
  background: #90D5FF;
}

.greenbox {
  background: #FFFFFF;
  border: 2px solid green;
}

.bluebox {
  background: #00008B;
  border: 1px solid black;
  color: white;
}

h1 {
  text-align: center;
}
