body {
  background: #90D5FF;
}

.greenbox {
  background: #FFFFFF;
  border: 2px solid green;
  padding: 20px;
  width: 900px;
  margin: 10px;
  line-height: 1.5;
}

.bluebox {
  background: #00008B;
  border: 1px solid black;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  font-size: 60px;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 25px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background: #D3D3D3;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 15px;
  padding: 15px;
}

td {
  background: white;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 15px;
  padding: 15px;
}

ol {
  list-style-type: decimal-leading-zero;
}

a {
  color: blue;
}

.w3 {
  color: #800030;
}
