body {
  background: #90D5FF;
}

.greenbox {
  background: #FFFFFF;
  border: 2px solid green;
  padding: 20px;
}

.bluebox {
  background: #00008B;
  border: 1px solid black;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  size: 50px;
}

table {
  border: 1px solid black;
}

th {
  background: gray;
}
