body {
  background: #90D5FF;
}

.greenbox {
  background: #FFFFFF;
  border: 2px solid green;
  padding: 20px;
  width: 600px;
  margin: 10px;
  line-height: 1.5;
}

.bluebox {
  background: #00008B;
  border: 1px solid black;
  color: white;
  padding: 20px;
}

h1 {
  text-align: center;
  size: 200px;
}

h2 {
  size: 50px;
}

table {
  border: 1px solid black;
  border-collapse: collapse;
}

th {
  background: gray;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 30px;
}

td {
  background: white;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 30px;
}

ol {
  list-style-type: decimal-leading-zero;
}

a {
  color: blue;
}

.w3 {
  color: #800030;
}
