body {
  background: #ffffff;
  margin: 0;
}

#jumpMenu {
  position: fixed;
  width: 300px;
  height: 100%;
  background: gold;
  top: 0;
  left: 0;
}

#jumpMenu h2 {
  font-size: 40px;
  text-align: center;
}

#jumpMenu a {
  font-size: 20px;
  text-align: center;
  color: blue;
  font-color: white;
  display: block;
}

main > header {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
}

#brand {
  margin: 0;
  height: 100px;
  background: red;
  font-size: 50px;
  text-align: center;
  top: 0;
}

header p {
  font-size: 50px;
  text-align: center;
}

#topNav {
  height: 60px;
  background: #000000;
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
  gap: 20px;
}

#topNav button {
  flex: 1;
  background: blue;
  color: #ffffff;
  font-size: 28px;
  padding: 13px 40px;
  text-align: center;
  display: inline-block;
  min-width: 200px;
}

main {
  margin-left: 300px;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
}

main > h1 {
  text-align: center;
  font-size: 60px;
}

#container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 70px 80px;
  align-items: start;
}

@media (max-width: 1100px) {
  #container {
    grid-template-columns: 1fr 1fr;
    gap: 70px 80px;
  }
}

#container article h2 {
  font-size: 30px;
  margin: 0 0 10px;
}

#container article p {
  font-size: 15px;
  margin: 0 0 10px;
}

#container article {
  scroll-margin-top: 200px;
}

#thanks {
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 0;
  background: lightblue;
  font-size: 40px;
  border: 1px solid black;
  padding: 20px 35px;
}

footer {
  margin-top: 80px;
}
