body {
  background: #ffffff;
  margin: 0;
}

#jumpMenu {
  position: fixed;
  width: 300px;
  height: 100%;
  background: gold;
  top: 0;
  left: 0;
}

#jumpMenu h2 {
  font-size: 40px;
  text-align: center;
}

#jumpMenu button {
  font-size: 20px;
  text-align: center;
  color: blue;
  font-color: white;
  display: block;
}

main > header {
  position: fixed;
  top: 0;
  left: 300px;
  width: calc(100% - 300px);
}

#brand {
  margin: 0;
  height: 100px;
  background: red;
  align-items: center;
  font-size: 30px;
  display: flex;
  text-align: center;
}

#topNav {
  height: 60px;
  background: #000000;
  align-items: center;
  display: flex;
}

#topNav a {
  background: blue;
  color: #ffffff;
  font-size: 28px;
  text-align: center;
  display: inline-block;
}

main {
  margin-left: 300px;
  padding-top: 200px;
  padding-left: 40px;
  padding-right: 40px;
}

main > h1 {
  text-align: center;
  font-size: 60px;
}

#container {
  display: grid;
  align-items: start;
}
